body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  /* background-color: #121212; */
  background-image: linear-gradient(45deg,
      rgba(0, 0, 0, 0.8),
      rgba(18, 18, 18, 0.9));
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  padding: 20px;
  text-align: center;
}

#sobre-mim {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  width: 85vw;
  text-align: left;
  background-color: #0000006e;
  border-radius: 0px 0px 20px 20px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(circle, transparent 65%, #000000 76%);
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* margin: 0 auto 20px; */
  display: block;
}

#projetos-container {
  padding: 50px 20px;
  display: flex;
  width: 85vw;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 20px;
}

.projeto {
  position: relative;
  width: 85vw;
  height: 100px;
  cursor: pointer;
  overflow: hidden;
  /* background-color: rgba(255, 255, 255, 0.1); */
  display: flex;
  flex-direction: row;
}

.projeto img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.projeto:hover img {
  transform: scale(1.1);
}

/* .gradiant-overlay {
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 50%;
  height: 100%;
} */

.overlay {
  position: absolute;
  right: 0;
  background: rgba(0, 0, 0, 1);
  width: 50%;
  height: 100%;
  padding: 20px;
  text-align: center;
}

.overlay-border {
  position: absolute;
  left: -80px;
  top: 0;
  border-style: solid;
  border-width: 100px 0px 0px 80px;
  border-color: rgba(0, 0, 0, 1) transparent;
}

.btn-contato {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #ff6600;
  color: #fff;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 100;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #1e1e1e;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  border-radius: 5px;
  position: relative;

  video {
    width: 60%;
    border-radius: 5px;
  }
}

.fechar {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.contatos {
  z-index: 1;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 9vw;
  height: 6vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: aliceblue;
  border-radius: 5px 0 0 0;
  padding: 5px;

  a {
    color: #000;
    text-decoration: none;

    i {
      width: 2.5vw;
    }
  }
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Ensure the particles are behind your content */
}

footer {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 13vh;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  color: #0073b1;
}